@{
    JobVacancy vacancy = Model;
}

<link href="~/css/select2.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui.min.css" rel="stylesheet" />

<div id="dialog" title="Have you found an employee?">
    <form method="post">
        <table>
            <tr>
                <input name="vacancyId" type="hidden" value="@vacancy.Id">
                <input type="hidden" name="closeVacancy" value="true">
                <td><button type="submit" name="vacancySuccess" value="true" class="btn btn-primary btn-block">Yes</button></td>
                <td><button type="submit" name="vacancySuccess" value="false" class="btn btn-primary btn-block">No</button></td>
            </tr>
        </table>
    </form>
</div>

<form method="post">
    <input name="vacancyId" type="hidden" value="@vacancy.Id">
    <div class="mb-3">
        <label for="jobVacancyTitleInput" class="form-label">Title</label>
        <input name="title" class="form-control" id="jobVacancyTitleInput" value="@vacancy.Title">
    </div>
    <div class="mb-3">
        <label for="jobVacancyRegionInput" class="form-label">Region</label>
        <select id="jobVacancyRegionInput" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Select region</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="jobVacancySettlementInput" class="form-label">Settlement</label>
        <select name="settlementId" id="jobVacancySettlementInput" class="form-select form-select-sm" aria-label=".form-select-sm example">
        </select>
    </div>
    <div class="mb-3">
        <label for="jobVacancySalaryInput" class="form-label">Salary</label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input name="salary" type="number" class="form-control" id="jobVacancySalaryInput" value="@vacancy.Salary">
        </div>
    </div>
    <div class="mb-3">
        <label for="jobVacancyDescriptionInput" class="form-label">Description</label>
        <textarea name="description" class="form-control" id="jobVacancyDescriptionInput" rows="15">@vacancy.Description</textarea>
    </div>
    <div class="mb-3">
        <label for="jobVacancyHardSkillsInput" class="form-label">Hard skills</label>
        <select name="hardSkills" id="jobVacancyHardSkillsInput" class="form-select form-select-sm" aria-label=".form-select-sm example" multiple="multiple">
            @if (vacancy.HardSkills is not null)
            {
                @foreach (var hardskill in vacancy.HardSkills)
                {
                    @:
                    <option value="@hardskill.Id" selected="selected">@hardskill.Name</option>
                }
            }
        </select>
    </div>
    <table>
        <tr>
            <td><button type="submit" class="btn btn-primary btn-block">Edit</button></td>
            <td><a href="#" id="opener" class="btn btn-primary btn-block">Close</a></td>
        </tr>
    </table>
</form>

@section Scripts {
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#jobVacancyHardSkillsInput").select2({
                placeholder: "Hard skills",
                ajax: {
                    type: "POST",
                    url: "@Url.Action("GetHardSkills", "HardSkill")",
                    dataType: "json",
                    data: function (params) {
                        return {
                            searchWord: params.term
                        };
                    },
                    processResults: function (data, params) {
                        console.log(data);
                        return {
                            results: data.value
                        };
                    }
                }
            });

            $("#dialog").dialog({
                autoOpen: false,
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });
        });

        let settlementDefined;
        let settlementId;
        let regionId;
        @if (vacancy.Settlement == null)
        {
            @:settlementDefined = false;
        }
        else
        {
            @:settlementDefined = true;
            @:oldSettlementId = @vacancy.Settlement.Id;
            @:oldRegionId = @vacancy.Settlement.Region!.Id;
        };

        console.log(settlementDefined);

        if (settlementDefined) {
            console.log("test");
        }

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRegions", "Settlement")",
            dataType: "json",
            success: function (result) {
                $.each(result.value, function (i, item) {
                    if (settlementDefined) {
                        if (oldRegionId == item.id) {
                            $("#jobVacancyRegionInput").append($("<option>", {
                                value: item.id,
                                text: item.name
                            }).attr("selected", "selected"));
                        }
                        else {
                            $("#jobVacancyRegionInput").append($("<option>", {
                                value: item.id,
                                text: item.name
                            }));
                        }
                    }
                    else {
                        $("#jobVacancyRegionInput").append($("<option>", {
                            value: item.id,
                            text: item.name
                        }));
                    }
                });
                console.log(result);
            }
        });

        if (settlementDefined) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetRegionSettlements", "Settlement")",
                dataType: "json",
                data: { regionId: oldRegionId },
                success: function (result) {
                    $.each(result.value, function (i, item) {
                        if (oldSettlementId == item.id) {
                            $("#jobVacancySettlementInput").append($("<option>", {
                                value: item.id,
                                text: item.name
                            }).attr("selected", "selected"));
                        }
                        else {
                            $("#jobVacancySettlementInput").append($("<option>", {
                                value: item.id,
                                text: item.name
                            }));
                        }
                    })
                    console.log(result);
                }
            });
        }

        $("#jobVacancyRegionInput").change(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetRegionSettlements", "Settlement")",
                dataType: "json",
                data: { regionId: $(this).val() },
                success: function (result) {
                    $("#jobVacancySettlementInput").empty()
                    $.each(result.value, function (i, item) {
                        $("#jobVacancySettlementInput").append($("<option>", {
                            value: item.id,
                            text: item.name
                        }));
                    });

                    $("#jobVacancySettlementInput").val([]);
                    console.log(result);
                }
            });
        });

    </script>
}
