@{
    UserDto profile = Model;
    bool ownProfile = profile.Username == User.Identity!.Name;
}

<div class="container">
    @if(ownProfile)
    {
        <h2>Your profile:</h2>
    }
    else
    {
        <h2>@profile.Username profile</h2>
    }    
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">@profile.FirstName @profile.LastName</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                    @if (profile.Email is not null)
                    {
                        @profile.Email
                    }
                    else
                    {
                        @:Not specified
                    }
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Phone</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                    @if (profile.PhoneNumber is not null)
                    {
                        @profile.PhoneNumber
                    }
                    else
                    {
                        @:Not specified
                    }
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">City</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                    @if (profile.Settlement is not null)
                    {
                        @profile.Settlement.Name@:, @profile.Settlement.Region!.Name region
                    }
                    else
                    {
                        @:Not specified
                    }
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Status</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                    @if (profile.InSearch)
                    {
                        @:Searching work
                    }
                    else
                    {
                        @:Not searching work
                    }
                </p>
            </div>
        </div>
    </div>
    @if(ownProfile)
    {
        <a class="btn btn-primary btn-block" href="@Url.Action("edit", "profile")?username=@profile.Username">Edit profile</a>
    }
</div>
