@{
    JobVacancy vacancy = Model;
}

<div class="container">
    <div class="mb-3">
        <h3>@vacancy.Title</h3>
    </div>
    @if (vacancy.Salary > 0)
    {
        <div>
            <p>Salary @vacancy.Salary$</p>
        </div>
    }
    @if (vacancy.Settlement is not null)
    {
        <div>
            <p>@vacancy.Settlement.Region!.Name region, @vacancy.Settlement.Name</p>
        </div>
    }
    @if (vacancy.HardSkills is not null)
    {
        @if (vacancy.HardSkills.Count > 0)
        {
            <hr class="hr my-3" />
            <p>Requirements:</p>
            <div class="mb-3">
                <ul>
                    @foreach (var hardSkill in vacancy.HardSkills)
                    {
                        <li>@hardSkill.Name</li>
                    }
                </ul>
            </div>
        }
    }
    <div class="mb-3">
        <hr class="hr my-3" />
        <p>Description:</p>
        <textarea readonly rows="20" class="form-control">@vacancy.Description</textarea>
    </div>


</div>
